body{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 20px 100px;
  background-color: white;
}

#panier{
  width: 27%;
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
}

#produit-header{
  font-size: x-large;
}

#container{
	
}

#logo{
  /*width: 25%;*/
}

#logo img{
  width: 100%;
}
/* .item{
	height: 500px;
} */

.item img{
  width: 100%;
}

#myCarousel img{
	width: 100%;
	/* height: 100%; */
}

#liste-article{
	display: flex;
  justify-content: center;
	flex-flow: wrap;
	position: relative;
}

.produit{
  text-align: center;
  padding: 10px;
  margin: 10px !important;
  margin: auto;
  width: 235px;
  height: 260px;
  border: solid 0.5px;
  background-color: floralwhite;
}

.produit button{
  position: relative;
  top: 31px;
  width: 150px;
  border-radius: 10px;
}

.image{
  width: 100%;
  height: 60%;
  border-radius: 15px;
}

.detail-produit{
  display: flex;
}

.descriptionimg{
  width: 100%;
}

#description{
  text-align: center;
}

#price{
  text-align: center;
  font-size: xx-large;
}

#choix-couleur{
  width: 50%;
  margin: auto;
}

#color{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
  padding: 5px !important;
}

.modal-footer button{
  width: 150px;
  border-radius: 20px;
}

#panier span{
  font-size: 19px;
  color: red;
  position: relative;
  bottom: 20px;
}

#panier p{
  text-decoration: underline;
}

.fa-cart-arrow-down:hover{
  cursor: pointer;
}

#modalPanier{
  position: absolute;
  top: 79px;
  right: 0px;
  width: 356px;
  border: solid 1px gray;
  background-color: white;
  border-bottom-left-radius: 10px;
}

.unique-article{
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px grey;
}

.unique-article img{
  width: 15%;
}

#mon-panier{
  text-align: center;
}

.modal-body{
  padding: 13px 15px 10px 15px !important;
}

.modal-content{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

footer{
  margin-top: 20px;
}

#paniers span {
  font-size: 19px;
  color: red;
  position: relative;
  bottom: 20px;
}

@media screen and (max-width: 780px){
  header{
    margin: 8px 5px;
  }

  #logo{
    width: 150px;
  }

  #panier{
    font-size: x-large;
    width: 130px;
  }

  #paniers{
    font-size: x-large;
  }

 
}

@media screen and (max-width: 375px){
  #panier-footer{
    display: flex;
    flex-direction: column;
  }

  #panier-footer button{
    width: 70%;
  }
}